var app_fireBase = {};

(function () {
    // Initialize Firebase
    var config = {
        apiKey: "API_KEY",
        authDomain: "AUTH_DOMAIN",
        databaseURL: "DB_URL",
        projectId: "PROJECT_ID",
        storageBucket: "STORAGE_BUCKET",
        messagingSenderId: "MSG_ID"
    };
    firebase.initializeApp(config);

    app_fireBase = firebase;
})()